div {
  background-color: blue;
  height: 100px;
  width: 100px;
  color: white;
  border: solid black 1px;
  margin: 15px;
}

.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: black;
  color: white;
}
