body {
  background-color: pink;
}
#box {
  height: 250px;
  width: 100px;
  background-color: dodgerblue;
  text-align: center;
  color: white;
  border: solid black 1px;
}

.para {
  color: chocolate;
}

.para2 {
  background-color: green;
}
